<footer class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">
    <ul class="flex flex-wrap items-center mb-6 space-y-1 md:mb-0">
        <li><a href="/terms.txt" class="mr-4 text-sm font-normal text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Terms and conditions</a></li>
        <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline dark:text-gray-400">Contact</a></li>
    </ul>

</footer>
<p class="my-10 text-sm text-center text-gray-500">
    &copy; 2019-{{ dateFormat "2006" now }} <a href="{{ .Site.Params.homepage }}" class="hover:underline" target="_blank">Arthromate</a>. All rights reserved.
</p>
  